*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-size: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #51a9f4;
  background-color: #7276bf;
  color: whitesmoke;
  padding: 1rem;
}

.header h1 {
}

.main {
  grid-area: main;
  padding: 1rem;
  overflow: auto;
  background-color: #efefef;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "country-stats-tile" "global-stats-tile" "countries-stats-tile";
  gap: 1rem;
}


.StatsTile{
  padding: 1rem;
  border: 1px solid slategray;
}

.StatsTile h2{
  margin-bottom: 1rem;
}
.CountryStatsTile {
  grid-area: country-stats-tile;
}
.GlobalStatsTile {
  grid-area: global-stats-tile;
}
.CountriesStatsTile {
  grid-area: countries-stats-tile;
}



.DataCards{
  display: flex;
  flex-direction: column;

}



@media all and (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "country-stats-tile global-stats-tile" "countries-stats-tile  countries-stats-tile";
    gap: 1rem;
  }
}

.footer {
  grid-area: footer;
  background-color: lightslategray;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
